@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body{
        @apply font-[Figtree];
    }
}


.blue-toast{
    background-color: rgb(13, 166, 255);
    color: white;
}

.blue-progress-background{
    background-color: rgba(13, 166, 255, 0.785);;
}





/* ${
    active
      ? "bg-gray-100 text-blue-400"
      : ""
  } */