@font-face {
    font-family: 'FigTree';
    src: url('../fonts/Figtree-Medium.ttf')format('truetype');
    font-size: 20px;
    font-weight: 100 900; /* This defines the variable weight range */
    font-style: normal;
}